<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Person Name</label>
        <input type="text" class="form-control" formControlName="person_name" #person_name [(ngModel)] = "business.person_name" />
      </div>
      <div *ngIf="angForm.controls['person_name'].invalid && (angForm.controls['person_name'].dirty || angForm.controls['person_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['person_name'].errors.required">
          Person Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Email Name </label>
        <input type="text" class="form-control" formControlName="business_name" #business_name [(ngModel)] = "business.business_name" />
      </div>
      <div *ngIf="angForm.controls['business_name'].invalid && (angForm.controls['business_name'].dirty || angForm.controls['business_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['business_name'].errors.required">
          Email is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Roll Number </label>
        <input type="text" class="form-control" formControlName="business_gst_number" #business_gst_number [(ngModel)] = "business.business_gst_number" />
      </div>
      <div *ngIf="angForm.controls['business_gst_number'].invalid && (angForm.controls['business_gst_number'].dirty || angForm.controls['business_gst_number'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['business_gst_number'].errors.required">
          Roll Number is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Password</label>
        <input type="text" class="form-control" formControlName="user_password" #user_password [(ngModel)] = "business.user_password" />
      </div>
      <div *ngIf="angForm.controls['user_password'].invalid && (angForm.controls['user_password'].dirty || angForm.controls['user_password'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['user_password'].errors.required">
          Password is required.
        </div>
      </div>

      <button class="btn btn-primary" (click)="getData(person_name.value)">Get Details</button>

      <!-- First Name  Last Name -->
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">First Name</span>
      </div>
      <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required="required" #first_name>

      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Last Name</span>
      </div>
      <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required="required" #last_name>
    </div>
    <br>

    <!-- Age -->
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Age</span>
      </div>
      <input type="number" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" #age>
    </div>
    <br>

    <!-- Gender -->
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Gender</span>
        </div>
        <select class="form-control" #gender>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      <br>

      <!-- Date of birth -->
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Date of Birth</span>
          </div>
          <input type="date" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" #DOB>
        </div>
        <br>

        <!-- CNIC Number -->
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg">CNIC</span>
            </div>
            <input type="number"  class="form-control cnic" aria-label="Large" aria-describedby="inputGroup-sizing-sm" #CNIC>
          </div>
          <br>

        <!-- Picture -->
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg">Picture</span>
            </div>
            <div class="custom-file form-control"  >
                <input type="file" class="custom-file-input" #picture>
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
          </div>
          <br>
          <br>
          <br>

          <h4 style="color:black" >Additional Infromation</h4>

      <!-- Skills -->
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Skills</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" #skills>
        </div>
        <br>

      <!-- Activities -->
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Activities</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" #activities>
        </div>
        <br>

        
      <!-- Achievements -->
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Achievements</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" #achievements>
        </div>
        <br>

        
      <!-- Exprience -->
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Exprience</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" #exprience>
        </div>
        <br>
    <br>


      <div class="form-group">
        <button (click)="updateBusiness(person_name.value, business_name.value, business_gst_number.value)"
        [disabled]="angForm.invalid" 
        class="btn btn-primary">Update Information</button>
      </div>
    </form>
  </div>
</div>